:root {
    --main-color: #e26a24;
    --main-text-color: #777;
    --mc: var(--main-color);
    --main-bg-color: snow;
  }
  
  //  Kintamieji 
  $main-color: #e26a24;
  $main-text-color: #777;
  $main-bg-color: snow;